@theme {
  --color-primary-50: #f1fbfe;
  --color-primary-100: #e3f7fc;
  --color-primary-200: #beedf9;
  --color-primary-300: #94e2f5;
  --color-primary-400: #60d3f0;
  --color-primary-500: #2dc5eb;
  --color-primary-600: #14acd2;
  --color-primary-700: #108dad;
  --color-primary-800: #0c677e;
  --color-primary-900: #094c5d;
  --color-primary: #14b0d7;
  --color-primary-foreground: #FFFFFF;
  --color-bullish: #059437;
  --color-bearish: #d56307;
}